@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: url('/assets/foggy_birds.png') lightgray;
  font-family: 'Helvetica', sans-serif;
}

.top-nav {
    background-color:white;
    border-bottom-color: #edeeee;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height:70px;
    padding-top:15px;
}

.top-nav .add a {
    font-weight: bold;
    color: #125688;
    font-size: 14px;
    padding-left: 8px;
}

.top-nav .add {
    margin-top: 10px;
}

.brand {
  color: #125688;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
}

.brand a {
  text-decoration: none;
}

.card {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0,0,0,0.25);
  border: 1px solid #e8e8e8;
  margin-top: 40px;
  padding: 0;
}

.card p, .card .message {
  font-size: 16px;
  margin: 10px 20px;
}

.handle {
  margin: 10px;
  color: #125688;
  font-weight: bold;
  font-size: 16px;
}

.card.form {
  padding: 20px;
}

label {
  font-size: 16px;
}

input {
  font-size: 16px;
  font-weight: 400;
}

.post-btn {
  background-color: #125688;
  width: 100%;
  border: none;
  font-size: 20px;
  color: white;
  margin-top: 10px;
}

.input.boolean {
  margin-left: 18px;
  margin-top: 5px;
}

.input.boolean label {
  margin-top: 5px;
  line-height: 44px;
}

.gram-actions a {
  font-weight: bold;
  font-size: 14px;
  margin-right: 20px;
}

.comments {
  padding: 10px 20px;
}

.comment {
  font-size: 16px;
  margin-top: 5px;
}

.comment_handle {
  color: #125688;
  font-weight: bold;
  font-size: 16px;
}

.pics {
  width:100%;
  text-align: center;
}

.clr {
  clear:both;
}